*{
  margin: 0;
  padding: 0;
}

.container{
  background: linear-gradient(to right bottom, #ff0040c7, #3aa4eab8);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
  background-color: #d2b9c8a1;
  min-width: 450px;
  min-height: 450px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #13033a;
  margin-bottom: 10px;
}

.header h1{
  color: #dddddd;
  text-align: center;
  margin: 20px 0;
}

.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #333;
  background-color: black;
  border: 1px solid red;
  border-radius: 10px;
}

.list-item{
  display: flex;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-height: 30px;
}

.list{
  width: 220px;
  background-color: transparent;
  border: none;
  color: azure;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 40px;
}

.button-add{
    width: 90px;
    padding: 15px 15px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #bb5f91ad;
    cursor: pointer;
} 

.button-complete, 
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete{
  color: blueviolet;
  margin-right: 10px;
}

.button-delete{
  color: antiquewhite;
} 
.button-edit{
  color: aqua;
  margin-right: 10px;
}

.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #e20808 ;
  opacity: 0.6;
}

input:focus,
button:focus{
  outline: none;
}